.navbar{
    display:grid;
    grid-template-columns: 250px auto 200px;
    position:fixed !important;
    height: 50px !important;
     align-items: center !important;
     border-bottom: 1px solid orangered;
     padding: 10px;
     background-color: rgb(243, 150, 117);
     z-index: 3000;
     width: 100%;
    
}
.navbar-left{
    display: flex;
    align-items: center;
  
   
}
.navbar-middle{
    display: flex;
    flex: 0.7 !important;
   
    
}
.navbar-middle .search_mail{
    display: flex;
    background-color:whitesmoke;
    color: rgb(13, 13, 13);
    border-radius: 10px;
    border-bottom: 1px solid  black;
    flex: 0.8;
   
}
.navbar-middle input{
    
    border: transparent;
    background: transparent;
    outline: 0;
    flex:1px;
   font-size: 15px;
letter-spacing: 1px !important;
  
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-right:20px !important ;
    gap: 0.2rem;
}

.navbar-right .MuiAvatar-img {
width: 30px;
height:30px ;
border-radius: 50%;
cursor: pointer;


}

