/* EmailLists*/
.emaillist {
    padding-top:0px !important;
    margin-top: 4rem ;
    width: 100% !important;
    color: rgb(23, 22, 22);
    display: flex;
    flex-direction: column;
  }
  .emailcontainer-right .number {
    color: rgb(18, 18, 18);
    font-size: 12px !important;
    opacity: 0.1px !important;
  }
  
  /* email container */
  
  .emailcontainer {
    display: flex;
    align-items: center;
    position: fixed !important;
    margin-top: 4rem;
    padding-top: 10px;
    width: 100% !important;
    background-color: rgb(213, 235, 216);
    justify-content: space-between !important;
    border-bottom: 1px solid rgb(227, 224, 223);
    z-index: 1000;
  }
  .emailcontainer svg {
    font-size: 18px;
  }
  .emailcontainer-right {
    display: flex;
    align-items: center;
  }
  
  /* Email type */
  
  .emailtype {
    padding-top: 50px;
    display: flex;
    align-items: center;
  
    border-bottom: 1px solid whitesmoke;
    color: black;
  }
  .emailtype > .emailtype-lists {
    display: flex !important;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid rgb(243, 237, 237);
    min-width: 300px;
    padding: 0px 10px;
  }
  .emailtype > .emailtype-lists svg {
    font-size: 20px;
    color: grey;
    margin-right: 10px;
  }
  .emailtype > .emailtype-lists svg p {
    font-size: 15px;
  }
  .emailtype > .emailtype-lists svg:hover {
    color: blue !important;
    background-color: whitesmoke;
  }
  .emailtype > .emailtype-lists:hover {
    color: blue !important;
    background-color: whitesmoke;
  }
  .emailtype-lists--active {
    border-bottom: 5px solid rgb(57, 18, 233) !important;
  }
  
  .emailtype-lists--active,
  .emailtype-lists--active svg {
    color: rgb(255, 242, 0) !important;
    font-weight: bold;
  }
  
  
  /* smartphone landscape */
  
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .emailcontainer {
      width: 100% !important;
      padding-left: 15px;
      padding-right: 20px;
      z-index: 5;
    }
    .emailtype {
      padding-top: 50px;
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      align-items: center;
      padding-left: 0px !important;
    }
    .emailtype > .emailtype-lists {
      min-width: 100px;
    }
  
    
  }
  