/* email body contents design */

.emailbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    align-items: center !important;
    padding: 10px;
    background-color: rgb(229, 236, 242);
    width: 110% !important;
    padding-left: 10px;
  }
  .emailbody .emailbody-left {
    display: flex;
    align-items: center;
  }
  
  
  .emailbody .emailbody-right {
    display: flex;
    align-items: center;
    flex: 10%;
    justify-content: center;
  }
  .emailbody:hover {
    background-color:orangered;
    box-shadow: 2px 1px 2px 1px grey;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s transform ease-in-out;
  }
  
  /* smartphone landscape */
  
  @media screen and (min-width: 480px) and (max-width: 767px) {
    /* email body */
    .emailbody {
      border-bottom: 1px solid whitesmoke;
      padding-left: 10px;
      height: auto;
     
    }
    .emailbody .emailbody-left {
      display: flex;
      align-items: center;
    }
  
    .emailbody .emailbody-middle {
      width: 60% !important;
      margin-left: 20px !important;
    }
  
    .emailbody .emailbody-right {
      margin-left: 0px !important;
    }
  }
  